<div id='block1'>
  <div class='border'>
    <svg width='100%' height='100vh'>
      <line class='top' x1='0' y1='0' x2='300vw' y2='0'/>
      <line class='left' x1='0' y1='100vh' x2='0' y2='-300vh'/>
      <line class='bottom' x1='100vw' y1='100vh' x2='-200vw' y2='100vh'/>
      <line class='right' x1='100%' y1='0' x2='100%' y2='300vh'/>
    </svg>
  </div>
  <h3>Jon Liu</h3>
  <ul class='navbar'>
    <li><a href='#about'>About</a></li>
    <li><a href='#work'>Work</a></li>
    <li><a href='#skills'>Skills</a></li>
    <li><a href='#contact'>Contact</a></li>
  </ul>
</div>
<div id='block2'>
  <h2>About</h2>
  <ul class='navbar'>
    <li><a href='#about'>About</a></li>
    <li><a href='#work'>Work</a></li>
    <li><a href='#skills'>Skills</a></li>
    <li><a href='#contact'>Contact</a></li>
  </ul>
</div>
<div id='block3'>
  <svg class='hexagon'><use xlink:href='/img/hexagon.svg#hexagon'/></svg>
  <p>words and things here blah balhb albhalbhlahbl abhb alhab lhbla hlbah labh labh labhlabh labhlabh labh lbahl abhlabh </p>
</div>
<div id='block4'></div>
