<div id='landing'>
  <div class='border'>
    <svg width='100%' height='100vh'>
      <line class='top' x1='0' y1='0' x2='300vw' y2='0'/>
      <line class='left' x1='0' y1='100vh' x2='0' y2='-300vh'/>
      <line class='bottom' x1='100vw' y1='100vh' x2='-200vw' y2='100vh'/>
      <line class='right' x1='100%' y1='0' x2='100%' y2='300vh'/>
    </svg>
  </div>
  <h3>Jon Liu</h3>
  <ul class='navbar'>
    <li><a class='about-link' href='#about'>About</a></li>
    <li><a class='work-link' href='#work'>Work</a></li>
    <li><a class='contact-link' href='#contact'>Contact</a></li>
  </ul>
</div>
<div id='about'>
  <h2>About</h2>
  <ul class='navbar'>
    <li><a class='about-link' href='#about'>About</a></li>
    <li><a class='work-link' href='#work'>Work</a></li>
    <li><a class='contact-link' href='#contact'>Contact</a></li>
  </ul>
</div>
<div id='about-info'>
  <svg class='hexagon'><use xlink:href='/svg/hexagon.svg#hexagon'/></svg>
  <h2>I am a Full Stack Web Developer/Software Engineer studying at NYU.</h2>
  <p>I am currently a Senior pursuing a Bachelors degree in Computer Science with a minor in Web Development.</p>
  <h1>Courses</h1>
  <ul>
    <li>Data Structures</li>
    <li>Computer Systems and Organization</li>
    <li>Operating Systems</li>
    <li>Basic Algorithms</li>
    <li>Statistics</li>
    <li>Linear Algebra</li>
    <li>Computer Graphics</li>
    <li>Computer Vision</li>
    <li>Applied Internet Technology</li>
    <li>Game Design</li>
    <li>Virtual Reality Development</li>
    <li>Interactive Computing</li>
  </ul>
  <p></p>
  <h1>Skills</h1>
  <ul>
    <li>Javascript</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Node.js</li>
    <li>SASS</li>
    <li>Gulp</li>
    <li>jQuery</li>
    <li>Bootstrap</li>
    <li>Express.js</li>
    <li>Handlebars.js</li>
    <li>React</li>
    <li>React Native</li>
    <li>Java</li>
    <li>C++</li>
    <li>Go</li>
    <li>C#</li>
    <li>Python</li>
    <li>MariaDB</li>
    <li>MongoDB</li>
    <li>Redis</li>
    <li>Firebase</li>
    <li>SQL</li>
    <li>noSQL</li>
    <li>Git</li>
    <li>Unity</li>
    <li>Adobe Suite</li>
    <li>Agile</li>
    <li>JIRA</li>
    <li>AWS</li>
  </ul>
  <h1>Interests</h1>
  <ul>
    <li>Web Development</li>
    <li>eSports</li>
    <li>Artificial Intelligence</li>
    <li>Machine Learning</li>
    <li>Data</li>
    <li>UI / UX Design</li>
    <li>Mobile Development</li>
    <li>VR / AR</li>
  </ul>
  <h1>Web 🕷️ Development</h1>
  <p>I started web development at the end of my sophmore year at NYU. It all started with a course I took called Applied Internet Technology. At the end of the course, I went on to make my very first web app! Now, here I am, making web apps in my free time.</p>
  <h1>Hobbies</h1>
  <p>Snowboarding, Video Games (Overwatch), Guitar, Volleyball, Raving, Traveling</p>
</div>
<div id='work'>
  <h2>Work</h2>
  <ul class='navbar'>
    <li><a class='about-link' href='#about'>About</a></li>
    <li><a class='work-link' href='#work'>Work</a></li>
    <li><a class='contact-link' href='#contact'>Contact</a></li>
  </ul>
</div>
<div id='work-info'>
  <figure class='section'>
    <h1 class='caption'>Hello</h1>
    <img src='/img/1.jpg'>
    <figcaption></figcaption>
  </figure>
  <figure class='section'>
    <h1 class='caption'>Hello</h1>
    <img src='/img/2.jpg'>
    <figcaption></figcaption>
  </figure>
  <figure class='section'>
    <h1 class='caption'>Hello</h1>
    <img src='/img/3.jpg'>
    <figcaption></figcaption>
  </figure>
  <figure class='section'>
    <h1 class='caption'>Hello</h1>
    <img src='/img/4.jpg'>
    <figcaption></figcaption>
  </figure>
  <figure class='section'>
    <h1 class='caption'>Hello</h1>
    <img src='/img/5.jpg'>
    <figcaption></figcaption>
  </figure>
</div>
<div id='animation'></div>
<div id='contact'>
  <ul class='social-buttons'>
    <li>
      <a href='https://www.facebook.com/phree99'><i id='facebook' class='fab fa-facebook'></i></a>
    </li>
    <li>
      <a href='https://www.linkedin.com/in/jonathan-liu-b71aa3122/'><i id='linkedin' class='fab fa-linkedin'></i></a>
    </li>
    <li>
      <a href='https://github.com/JonnyLoo'><i id='github' class='fab fa-github-square'></i></a>
    </li>
    <li>
      <a href='https://www.instagram.com/jonnyloooo/'><i id='instagram' class='fab fa-instagram'></i></a>
    </li>
  </ul>
</div>
