<div id='block1'>
  <h3 id='title'>Jon Liu</h3>
  <ul class='navbar'>
    <li><a href='#about'>About</a></li>
    <li><a href='#work'>Work</a></li>
    <li><a href='#skills'>Skills</a></li>
    <li><a href='#contact'>Contact</a></li>
  </ul>
</div>
<div id='block2'></div>
<div id='block3'></div>
<div id='block4'></div>
<div id='block5'></div>
