$red: #BF4141;
$blue: #355384;
$white: #CACBCE;
$black: #25242B;

@font-face {
  font-family: 'Elianto';
  src: url('/fonts/elianto.otf') format('woff'),
  url('/fonts/elianto.ttf') format('woff');
}

@keyframes move-line-left {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-200vw);
  }
}

@keyframes move-line-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(200vh);
  }
}

@keyframes move-line-right {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(200vw);
  }
}

@keyframes move-line-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-200vh);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Elianto';
  text-transform: uppercase;
}

.border {
  svg {
    position: absolute;
    top: 0;
    left: 0;

    line {
      stroke-width: 12;
      stroke: $white;
      fill: none;
    }

    .top, .bottom {
      stroke-dasharray: 100vw;
    }

    .left, .right {
      stroke-dasharray: 100vh;
      stroke-dashoffset: 100vh;
    }

    .top {
      animation: move-line-left 3.5s linear infinite;
    }

    .left {
      animation: move-line-down 3.5s linear infinite;
    }

    .bottom {
      animation: move-line-right 3.5s linear infinite;
    }

    .right {
      animation: move-line-up 3.5s linear infinite;
    }
  }
}

.navbar {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  text-align: center;

  li {
    display: inline;

    &:not(:first-of-type):before {
      content: '  .  ';
      color: $white;
      vertical-align: 30%;
    }
  }

  a {
    display: inline-block;
    font-size: 1.2em;
    text-decoration: none;
    color: $white;
    transition: color .4s ease;

    &:hover {
      color: $blue;
    }
  }
}

#landing {
  width: 100%;
  height: 100vh;
  background: $black url('/img/spidey.jpg') no-repeat center center fixed;
  background-size: cover;

  h3 {
    position: absolute;
    margin: 0;
    width: 100%;
    top: 25px;
    font-size: 4em;
    text-align: center;
    letter-spacing: .1em;
    color: $white;
  }

  .navbar {
    bottom: 50px;
  }
}

#about, #about-info, #work, #work-info, #skills, #skills-info {
  width: 50%;
  height: 100vh;
}

#about {
  background: $blue;
  float: left;

  h2 {
    position: relative;
    margin: 0;
    width: 100%;
    top: calc(50% - 20px);
    font-size: 3em;
    text-align: center;
    color: $white;
  }

  .navbar {
    top: calc(100vh - 50px);

    a:hover {
      color: $black;
    }
  }
}

#about-info {
  background: $red;
  height: 500vh;
  position: absolute;
  right: 0px;
  top: 100vh;

  p {
    position: relative;
    display: block;
    text-align: center;
    top: 50vh;
    margin: auto;
    width: 90%;
  }

  .hexagon {
    position: absolute;
    top: 100px;
    transform: translate(-50%);
    z-index: 1;
  }
}

#work {
  position: absolute;
  background: $red;
  left: 0px;
  top: 600vh;
  min-width: 50vw;

  h2 {
    position: relative;
    margin: 0;
    width: 100%;
    top: calc(50% - 20px);
    font-size: 3em;
    text-align: center;
    color: $black;
  }

  .navbar {
    top: calc(100vh - 50px);

    li:not(:first-of-type):before {
      content: '  .  ';
      color: $black;
      vertical-align: 30%;
    }

    a {
      color: $black;
      &:hover {
        color: $white;
      }
    }
  }
}

#work-info {
  background: $blue;
  position: absolute;
  right: 0px;
  top: 600vh;
  height: 500vh;

  p {
    position: relative;
    display: block;
    text-align: center;
    top: 50vh;
    margin: auto;
    width: 90%;
    color: $white;
  }
}

#skills {
  position: absolute;
  background: $blue;
  left: 0px;
  top: 1100vh;
  min-width: 50vw;

  h2 {
    position: relative;
    margin: 0;
    width: 100%;
    top: calc(50% - 20px);
    font-size: 3em;
    text-align: center;
    color: $white;
  }

  .navbar {
    top: calc(100vh - 50px);

    li:not(:first-of-type):before {
      content: '  .  ';
      color: $white;
      vertical-align: 30%;
    }

    a {
      color: $white;
      &:hover {
        color: $black;
      }
    }
  }
}

#skills-info {
  background: $red;
  position: absolute;
  right: 0px;
  top: 1100vh;
  height: 500vh;

  p {
    position: relative;
    display: block;
    text-align: center;
    top: 50vh;
    margin: auto;
    width: 90%;
    color: $black;
  }
}

#animation {
  position: absolute;
  width: 100%;
  height: 500vh;
  background-color: $black;
  top: 1600vh;
}

#contact {
  position: absolute;
  width: 100%;
  height: 10vh;
  background-color: $black;
  top: 2100vh;

  .social-buttons {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    padding-top: 3vh;

    li {
      display: inline;
      margin: 0 25px 0 25px;
      i {
        display: inline-block;
        color: $white;
        text-align: center;
        font-size: 2em;
        text-decoration: none;
        transition: color .2s ease-out;

        &:hover {
          color: $blue;
          cursor: pointer;
        }
      }
    }
  }
}
