$red: #BF4141;
$blue: #355384;
$white: #CACBCE;
$black: #25242B;

@font-face {
  font-family: 'Elianto';
  src: url('/fonts/elianto.otf') format('woff'),
  url('/fonts/elianto.ttf') format('woff');
}

@keyframes move-line-left {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-200vw);
  }
}

@keyframes move-line-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(200vh);
  }
}

@keyframes move-line-right {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(200vw);
  }
}

@keyframes move-line-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-200vh);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Elianto';
  text-transform: uppercase;
}

.border {
  svg {
    position: absolute;
    top: 0;
    left: 0;

    line {
      stroke-width: 12;
      stroke: $white;
      fill: none;
    }

    .top, .bottom {
      stroke-dasharray: 100vw;
    }

    .left, .right {
      stroke-dasharray: 100vh;
      stroke-dashoffset: 100vh;
    }

    .top {
      animation: move-line-left 3.5s linear infinite;
    }

    .left {
      animation: move-line-down 3.5s linear infinite;
    }

    .bottom {
      animation: move-line-right 3.5s linear infinite;
    }

    .right {
      animation: move-line-up 3.5s linear infinite;
    }
  }
}

.navbar {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  text-align: center;

  li {
    display: inline;

    &:not(:first-of-type):before {
      content: '  .  ';
      color: $white;
      vertical-align: 30%;
    }
  }

  a {
    display: inline-block;
    font-size: 1.2em;
    text-decoration: none;
    color: $white;
    transition: color .4s ease;

    &:hover {
      color: $blue;
    }
  }
}

#landing {
  width: 100%;
  height: 100vh;
  background: $black url('/img/spidey.jpg') no-repeat center center fixed;
  background-size: cover;

  h3 {
    position: absolute;
    margin: 0;
    width: 100%;
    top: 25px;
    font-size: 4em;
    text-align: center;
    letter-spacing: .1em;
    color: $white;
  }

  .navbar {
    bottom: 50px;
  }
}

#about, #about-info, #work, #work-info, #skills, #skills-info {
  width: 50%;
  height: 100vh;
}

#about {
  background: $red;
  float: left;

  h2 {
    position: relative;
    margin: 0;
    width: 100%;
    top: calc(50% - 20px);
    font-size: 3em;
    text-align: center;
    color: $white;
  }

  .navbar {
    top: calc(100vh - 50px);

    a:hover {
      color: $black
    }
  }
}

#about-info {
  background: $blue;
  height: 400vh;
  position: absolute;
  right: 0px;
  top: 100vh;
  color: $white;

  h1, h2, p, ul {
    font-family: 'Raleway', sans-serif;
    text-transform: none;
    position: relative;
    display: block;
    text-align: left;
    margin: 0 0 0 8vw;
    width: 75%;
  }

  h1 {
    padding-top: 6vh;
    padding-bottom: 6vh;
    font-size: 1.5em;
  }

  h2 {
    padding-top: 15vh;
    padding-bottom: 4vh;
    font-size: 1em;
  }

  p {
    line-height: 1.5em;
    font-size: .9em;
  }

  ul {
    line-height: 40px;
    font-size: .9em;
    text-decoration: none;
    list-style: none;
    padding-left: 0;

    li {
      display: inline;
      border: solid $white;
      border-radius: 20px;
      padding: 5px 20px 5px 20px;
      white-space: nowrap;
    }
  }

  .hexagon {
    position: absolute;
    top: 100px;
    transform: translate(-50%) rotateZ(90deg);
    z-index: 1;
  }
}

#work {
  position: absolute;
  background: $blue;
  left: 0px;
  top: 500vh;
  min-width: 50vw;

  h2 {
    position: relative;
    margin: 0;
    width: 100%;
    top: calc(50% - 20px);
    font-size: 3em;
    text-align: center;
    color: $white;
  }

  .navbar {
    top: calc(100vh - 50px);

    a:hover {
      color: $black;
    }
  }
}

#work-info {
  background: $blue;
  position: absolute;
  right: 0px;
  top: 500vh;
  height: 500vh;
  overflow: hidden;

  .section {
    overflow: hidden;
    position: relative;
    margin: 0;
    width: 100%;
    height: 20%;
    top: 0;
    background: linear-gradient(-45deg, $blue 0%, $black 100%);

    img {
      opacity: .95;
      min-width: 100%;
      height: 100%;
    }

    .caption {
      font-family: 'Raleway', sans-serif;
      text-transform: none;
      position: absolute;
      color: $white;
      margin: 0;
      padding: 0;
      width: 100%;
      text-align: center;
      top: 30%;
      left: 0;
      z-index: 1;
      font-size: 4em;
    }

    figcaption::after,
    img {
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
    }

    figcaption::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-top: 1px solid $white;
      border-bottom: 1px solid $white;
      content: '';
      opacity: 0;
      -webkit-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
      transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
    }

    &:hover {
      img {
        opacity: 0.7;
        -webkit-transform: scale3d(1.05,1.05,1);
        transform: scale3d(1.05,1.05,1);
      }

      figcaption::after {
        opacity: 1;
        -webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
        transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
      }
    }
  }
}

#animation {
  position: absolute;
  width: 100%;
  height: 500vh;
  background-color: $black;
  top: 1000vh;
}

#contact {
  position: absolute;
  width: 100%;
  height: 10vh;
  background-color: $black;
  top: 1500vh;

  .social-buttons {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    padding-top: 3vh;

    li {
      display: inline;
      margin: 0 25px 0 25px;
      i {
        display: inline-block;
        color: $white;
        text-align: center;
        font-size: 2em;
        text-decoration: none;
        transition: color .2s ease-out;

        &:hover {
          color: $blue;
          cursor: pointer;
        }
      }
    }
  }
}
